<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:allowBackup="false" android:hasCode="true"
        android:supportsRtl="true" android:label="QQ通知过滤"
        android:description="@string/module_description">
        <activity android:name=".SettingsActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider android:name=".ConfigProvider" android:authorities="com.example.qqprivatenotify.config"
            android:exported="true" android:grantUriPermissions="false" />
    </application>
</manifest>
